@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .main,
  .main2,
  .menu {
    width: 100% !important;
    float: none !important;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.header {
  border: 1px solid red;
  padding: 5px;
}

.menu {
  height: 60%;
  width: 40%;
  float: right;
  padding: 35px;
  order: 3;
}

.main {
  width: 60%;
  height: 30%;
  float: left;
  padding: 100px 0px 10px 50px;
  order: 1;
}

.main2 {
  width: 60%;
  height: auto;
  float: left;
  padding: 0px 50px 50px 70px;
  order: 2;
  word-spacing: 3px;
  line-height: 25px;
}

.bgimg {
  max-width: 40%;
  max-height: 50%;
}

h1 {
  text-align: left;
}

body {
  margin: 0;
  /* color: #6a6f8c;
  background: #192c3f; */
  font: 200 16px/18px "Comfortaa", cursive;
}
.main2 h1 {
  color: black;
  font-size: 30px;
}
.main2 p {
  color: black;
  font-size: 17px;
}
.main2 p span {
  font-weight: 900;
}
.main2 .about-btn {
  padding: 12.5px 0px;
  border-radius: 0.3cm;
  color: #0b6eef;
  font-weight: 900;
}

.main2 .about-btn {
  margin-right: 20%;
  margin-top: 30px;
}
.main2 .about-btn i {
  margin-left: 5px;
  padding-top: 5px;
}

.bg {
  animation: slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(
    60deg,
    #00aeef 50%,
    #00aeef 50%,
    #d0eef9fa 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 19s;
}

.bg3 {
  animation-duration: 20s;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 410px;
  min-height: 580px;
  position: relative;
}
.login-html {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 90px 30px 90px;
  background: rgb(255, 255, 255);
}
.bi-x-circle {
  font-size: 30px;
  position: absolute;
  top: 4%;
  left: 87%;
  right: 0;
  bottom: 0;
}
#user {
  border: 1px solid black;
}
#pass {
  border: 1px solid black;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}

.login-html .tab {
  font-size: 15px;
  padding-bottom: 5px;
  margin: 0 10px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: black;
  border-color: black;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
  border-radius: 1px solid black;
}
.login-form .group .label {
  color: #161414;
  font-size: 12px;
  font-weight: 500;
}
.login-form .group .button {
  background: #485867;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 0px;
  background: red;
}
.foot-lnk {
  font-size: 12px;
  text-align: right;
}

.sec-line {
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .header {
    border: 1px solid red;
    padding: 5px;
  }

  .menu {
    height: 60%;
    width: 40%;
    float: right;
    padding: 35px;
    order: 3;
  }

  .main {
    width: 60%;
    height: 30%;
    float: center;
    padding: 40px 0px 10px 0px;
    order: 1;
  }

  .main2 {
    width: 60%;
    height: auto;
    float: center;
    padding: 0px 50px 30px 50px;
    order: 2;
    word-spacing: 3px;
    line-height: 25px;
  }

  .bgimg {
    max-width: 40%;
    max-height: 50%;
  }

  h1 {
    text-align: left;
  }

  body {
    margin: 0;
    /* color: #6a6f8c;
    background: #192c3f; */
    font: 200 16px/18px "Comfortaa", cursive;
  }
  .main2 h1 {
    color: black;
    font-size: 30px;
  }
  .main2 p {
    color: black;
    font-size: 16px;
  }
  .main2 p span {
    font-weight: 700;
    font-size: 16px;
  }
  .main2 .about-btn {
    padding: 12.5px 0px;
    border-radius: 0.3cm;
    color: #0b6eef;
    font-weight: 900;
  }

  .main2 .about-btn {
    margin-right: 20%;
    margin-top: 30px;
  }
  .main2 .about-btn i {
    margin-left: 5px;
    padding-top: 5px;
  }

  .bg {
    animation: slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(
      60deg,
      #00aeef 50%,
      #00aeef 50%,
      #d0eef9fa 50%
    );
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }

  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 19s;
  }

  .bg3 {
    animation-duration: 20s;
  }
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  .clearfix:after,
  .clearfix:before {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
    display: block;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  .login-wrap {
    width: 100%;
    margin: auto;
    max-width: 410px;
    min-height: 580px;
    position: relative;
  }
  .login-html {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 80px 90px 30px 80px;
    background: rgb(255, 255, 255);
  }
  .bi-x-circle {
    font-size: 30px;
    position: absolute;
    top: 4%;
    left: 87%;
    right: 0;
    bottom: 0;
  }
  #user {
    border: 1px solid black;
  }
  #pass {
    border: 1px solid black;
  }

  .login-html .sign-in-htm,
  .login-html .sign-up-htm {
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
  }
  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check {
    display: none;
  }

  .login-html .tab {
    font-size: 15px;
    padding-bottom: 5px;
    margin: 0 10px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
  }
  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab {
    color: black;
    border-color: black;
  }
  .login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  .login-form .group {
    margin-bottom: 15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
  }
  .login-form .group .input,
  .login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
  }
  .login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
    border-radius: 1px solid black;
  }
  .login-form .group .label {
    color: #161414;
    font-size: 12px;
    font-weight: 500;
  }
  .login-form .group .button {
    background: #485867;
  }
  .login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after {
    content: "";
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
  }
  .login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
  }
  .login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
  }
  .login-form .group .check:checked + label {
    color: #fff;
  }
  .login-form .group .check:checked + label .icon {
    background: #1161ee;
  }
  .login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
  }
  .login-html
    .sign-in:checked
    + .tab
    + .sign-up
    + .tab
    + .login-form
    .sign-in-htm {
    transform: rotate(0);
  }
  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
  }

  .hr {
    height: 0px;
    background: red;
  }
  .foot-lnk {
    font-size: 12px;
    text-align: right;
  }

  .sec-line {
    padding: 0px;
  }
}
