#it-services {
  position: relative;
  overflow: hidden;
}

#it-services ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

#it-services ul li {
  border-radius: 8px;
  padding: 12px 20px;
  background-color: #5dcbf4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 0 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#it-services ul li:hover {
  box-shadow: 0 5px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#it-services ul li.active {
  box-shadow: 0 5px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: rgb(70, 109, 236);
}

body {
  background-color: #7cd4f5;
}

.it-detail {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 450px;
  width: 100%;
}

.it-detail .detail-text {
  width: 45%;
  text-align: justify;
  position: relative;
  left: -100%;
  position: absolute;
  top: 0;
  margin-left: 100px;
}

.it-detail p {
  font-size: 16px;
}

.it-detail h2 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
}

.it-detail .detail-img {
  width: 50%;
  position: relative;
  height: 100%;
  position: absolute;
  right: -100%;
  top: 0;
}

.it-detail .detail-img lottie-player {
  width: 100%;
}
.webtemp {
  padding: 20px 7.9%;
}

.templatewebsite {
  width: 100%;
  height: 870px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}
/* Webkit (Chrome, Safari) */
.templatewebsite::-webkit-scrollbar {
  width: 10px;
}

.templatewebsite::-webkit-scrollbar-thumb {
  background: #04daf6;
  border-radius: 10px;
}
.templatewebsite::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Firefox */
.templatewebsite {
  scrollbar-width: thin;
}

.templatewebsite::-moz-scrollbar-thumb {
  background: #04daf6;
  border-radius: 10px;
}

.web {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.templatewebsite > div {
  width: 31%;
  height: 250px;
  background-color: white;
  margin-bottom: 40px;
}
.templatewebsite > div:hover {
  transform: scale(1.02);
}

.webproductimg {
  width: 100%;
  height: 70%;
}

.webproductimg img {
  width: 100%;
  height: 100%;
}

.webprodactwords {
  display: flex;
  justify-content: space-around;
}

.webprodactword button a {
  margin-top: 20px;
  --color-ui--custom-blue: #087096;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #087096;
  border: 1px solid var(--color-ui--custom-blue);
  width: 30%;
  height: 35px;
  color: #087096;
  font-size: var(--font-size--body-xs);
  font-weight: var(--font-weight--bold);
  background-color: #0000ff;
}
.webprodactwords a {
  padding: 5px;
  color: white;
  background-color: #087096;
  margin-top: 20px;
}
.webprodactwords a:hover {
  color: white;
  background-color: #0fa3d9;
  transition: 0.5s;
}
.webprodactwords h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-top: 25px;
}
/* ! Chat  css start */
.widget {
  position: fixed;
  right: 35px;
  bottom: 50px;
  transition: 0.6s;
  z-index: 9999;
}
.open.widget {
  right: 35px;
}
.widget a {
  color: inherit;
}
#chatme {
  background-color: #467aa9;
  color: white;
  border: none;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transition: 0.4s;
  box-shadow: 0 0 0 0 #467aa9;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  z-index: 9999 !important;
  cursor: pointer;
}
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

#chatme:hover {
  animation: paused;
}
#chatme:focus {
  outline: none;
}

#chatme svg,
.socials > div svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: white;
}
.socials > div svg {
  width: 16px;
  height: 16px;
}
#chatme .close {
  opacity: 0;
  transition: 0.3s;
}
#chatme .chat {
  opacity: 1;
  transition: 0.3s;
}
.open #chatme .close {
  opacity: 1;
  transition: 0.3s;
}
.open #chatme .chat {
  opacity: 0;
  transition: 0.3s;
}
.open #chatme {
  transform: rotate(45deg);
}
.widget:not(.open) .socials {
  transform: scale(0);
}
.socials {
  position: relative;
  transition: 0.4s;
  background: rgba (0, 0, 0, 0.3);
}
.socials > div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: white;
  transition: 0.3s;
}
.socials > div:hover {
  transform: scale(1.2);
}
.socials .email {
  background: #fabc2a;
  right: 80px;
  bottom: 0;
}
.socials .phone {
  background: #00cc66;
  right: 77px;
  bottom: 45px;
}
.socials .youtube {
  background: red;
  right: 45px;
  bottom: 77px;
}
.socials .facebook {
  background: #0000ff;
  right: 0px;
  bottom: 80px;
}
.socials .linkedin {
  background: #2f32e8;
  right: -35px;
  bottom: 53px;
}
/* ! Chat  css end */
@media only screen and (max-width: 768px) {
  #it-services {
    position: relative;
    overflow: hidden;
  }

  #it-services ul {
    display: block;
    list-style: none;
    justify-content: center;
  }

  #it-services ul li {
    border-radius: 8px;
    padding: 12px 20px;
    background-color: #5dcbf4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }

  #it-services ul li:hover {
    box-shadow: 0 5px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  #it-services ul li.active {
    box-shadow: 0 5px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: rgb(70, 109, 236);
  }

  body {
    background-color: #7cd4f5;
  }

  .it-detail {
    height: 780px;
    width: 100%;
    display: block;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .it-detail .detail-text {
    width: 80%;
    text-align: left;
    position: relative;
    left: -100%;
    position: absolute;
    top: 0;
    margin-left: 20px;
  }

  .it-detail p {
    font-size: 16px;
  }

  .it-detail h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .it-detail .detail-img {
    width: 45%;
    position: relative;
    height: 100%;
    position: absolute;
    right: -50%;
    top: 0;
    display: none;
  }

  .it-detail .detail-img lottie-player {
    width: 100%;
  }
  .webtemp {
    padding: 0px 5%;
  }

  .templatewebsite {
    width: 100%;
    height: 830px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
  }

  .web {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .templatewebsite > div {
    width: 47%;
    height: 200px;
    background-color: white;
    margin-bottom: 10px;
  }
  .templatewebsite > div:hover {
    transform: scale(1.02);
  }

  .webproductimg {
    width: 100%;
    height: 70%;
  }

  .webproductimg img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .webprodactwords {
    display: block;
    justify-content: space-between;
    padding: 5px;
  }

  .webprodactword button a {
    margin-top: 20px;
    --color-ui--custom-blue: #087096;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #087096;
    border: 1px solid var(--color-ui--custom-blue);
    width: 30%;
    height: 35px;
    color: #087096;
    font-size: var(--font-size--body-xs);
    font-weight: var(--font-weight--bold);
    background-color: #0000ff;
  }
  .webprodactwords a {
    padding: 5px;
    color: white;
    background-color: #087096;
    margin-top: 0px;
    font-size: 8px;
  }
  .webprodactwords a:hover {
    color: white;
    background-color: #0fa3d9;
    transition: 0.5s;
  }
  .webprodactwords h5 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 300;
    font-size: 11px;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px;
  }
}
